.reveal > .backgrounds > div {
  background-image: url('../assets/CERNLogoOutline.svg');
  background-repeat: no-repeat;
  background-position: 2% 96%;
  background-size: 5%;
}
.reveal > .backgrounds > div:first-child {
  background-image: url('../assets/CERNLogoOutline.svg');
  background-color: #0053A1;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100%;
}
